data/
.ipynb_checkpoints
.bin
*.db
*.csv
*.csv.gz
*.parquet

*.parquet
*.html
*.csv
data/

mlflow.db
mlruns/

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store